SPOTIFY_CLIENT_ID=39e3731f46c040bbb68cbaa98cb809ef
SPOTIFY_REDIRECT_URI=http://127.0.0.1:8989/callback
SPOTIFY_API_BASE_URL=https://api.spotify.com/v1
SPOTIFY_ACCOUNTS_BASE_URL=https://accounts.spotify.com
LASTFM_API_KEY=
LASTFM_SECRET=
YOUFM_ENV=development
YOUFM_THEME=dark
